<h1>User Index</h1>

<!-- <ul>
  <%= render @users %>
</ul> -->



<!-- rewrite in javascript for practice -->
<div id="friends">
  <% @users.each do |user| %>
  <% klass = Friendship.can_friend?(user.id, current_user.id) ? "can-friend" : "can-unfriend" %>
  <span class="friend-buttons <%= klass %>">
    <%= user.username %>

      <button class="friend" out-user-id="<%= user.id %>">Add Friend</button>
      <button class="unfriend" out-user-id="<%= user.id %>">Remove Friend</button>
      <%#= button_to "Delete friend", user_friendships_url(user), method: :delete %>
  </span>
  <% end %>
</div>

<script type="text/javascript">
  function toggleFriendButtons(){
    console.log(this);
    var $friendButtons = this.parent();
    if ($friendButtons.hasClass("can-friend")){
      $friendButtons.removeClass("can-friend");
      $friendButtons.addClass("can-unfriend");
    } else {
      $friendButtons.removeClass("can-unfriend");
      $friendButtons.addClass("can-friend");
    };
  };
  $(function(){
    $(".friend-buttons").on("click", ".friend", function(event){
      var $friend = $(event.currentTarget);
      $friend.text("friending...").attr("disabled","disabled");
      var outUserId = parseInt($friend.attr("out-user-id"));
      $.ajax({
        url: "/users/" + outUserId + "/friendships",
        type: "POST",
        data: { //controller will have other user's id
        },
        success: function() {
          toggleFriendButtons.bind($friend)();
          $friend.text("Add Friend").removeAttr("disabled");
          //$friend.toggleFriendButtons();
          //$friend.remove();
        },
        errors: function() {
          alert("error creating friendship")
        }

      });
      //alert("you clicked on id " + userId);
    });
    $(".friend-buttons").on("click", ".unfriend", function(event){
      var $unFriend = $(event.currentTarget);
      $unFriend.text("unfriending...").attr("disabled","disabled");
      var outUserId = parseInt($unFriend.attr("out-user-id"));
      $.ajax({
        url: "/users/" + outUserId + "/friendships",
        type: "DELETE",
        data: { //controller will have other user's id
        },
        success: function() {
          toggleFriendButtons.bind($unFriend)();
          $unFriend.text("Remove Friend").removeAttr("disabled");
          //$unFriend.toggleFriendButtons();
          //$unFriend.remove();
        },
        errors: function() {
          alert("error deleting friendship")
        }

      });
      //alert("you clicked on id " + userId);
    });
  });
</script>