<h1><%= @user.username %></h1>

<h2>Secrets</h2>
<ul>
  <% @user.received_secrets.each do |secret| %>
    <li><%= secret.title %></li>
  <% end %>
</ul>

<h2>New Secret</h2>

<!-- this should be conditional only if the logged in user is not on there own page -->
<%= render partial: "secrets/form" %>

<script>
  $(function(){
    $('.secret-form').on("submit", function(event){
      event.preventDefault();
      var secretTitle = $('input[name="secret[title]"]').val();//?could be .text
      var formData = $(this).serialize();
      $.ajax({
        url: "/secrets",
        type: "POST",
        data: formData,
        success: function(){
          $('.secret-form')[0].reset();
          $("ul").append("<li>" + secretTitle + "</li>");
        }
      });
    });
  });

</script>

