<form class="secret-form" action="<%= secrets_url %>" method="POST">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">
     <!-- we should have @user here instead of the dropdown
     so you have to go to a particular user's show page
     to post a secret to them -->
     <select name="secret[recipient_id]">
       <% @users.each do |user| %>
         <option value="<%= user.id %>"><%= user.username %></option>
       <% end %>
       </select>
     Secret:<input type="text" name="secret[title]">
     <div id="select-div"></div>
     <%#= render partial: "secrets/tag" %>
     <a id="add-tag" href="">Add another Tag</a>
     <input id="create-secret" type="submit" value="Create Secret!">
</form>

<script type="application/json" id="tag-json">
{ "tags": <%= Tag.all.to_json.html_safe %> }

</script>

<script type="text/template" id="tags_template">
  <select name="secret[recipient_id]">
  <%% _.each(tags, function(tag){ %>
    <option value="<%%= tag.id %>"><%%= tag.name %></option>
    <%% }); %>
  </select>
</script>

<script>
  var data = JSON.parse($("#tag-json").html());
  var addSecretTagSelect = function(){
    var templateCode = $("#tags_template").html();
    var templateFn = _.template(templateCode);
    var renderedContent = templateFn(data);
    $("#select-div").html(renderedContent);
  };
</script>

<script>
$(function(){
  addSecretTagSelect();
  $('#add-tag').on("click", function(event) {
    event.preventDefault();
    event.stopPropagation();
     addSecretTagSelect();
  //$(".secret-form").append($('#clonable').clone()); //$('input[name="secret_tags[]"]').after($('input[name="secret_tags[]"]').clone())
  });
});
</script>